if SHIELD_SK8KEY
    config ZMK_KEYBOARD_SK8KEY
        default "sk8key"

    config ZMK_RGB_BACKLIGHT
        bool "Enable RGB Backlight"
        default y

    config ZMK_BACKLIGHT_SK6812E_MINI
        bool "Enable SK6812E Mini Backlight"
        default y
endif

if ZMK_RGB_BACKLIGHT

config LED_STRIP
    bool "Enable LED Strip Support"
    default y

config WS2812_STRIP
    bool "Enable WS2812-based LED strips"
    default y

config WS2812_LED_COUNT
    int "Number of WS2812 LEDs"
    default 32

endif # ZMK_RGB_BACKLIGHT
