if SHIELD_SK8KEY

config ZMK_KEYBOARD_SK8KEY
    default "sk8key"
endif # SHIELD_SK8KEY

if ZMK_BACKLIGHT

config PWM
    default Y

config LED_PWM
    default Y

endif # ZMK_BACKLIGHT

if ZMK_DISPLAY

config I2C
    default y

config SSD1306
    default y

    select LV_USE_CONT
    select LV_FONT_MONTSERRAT_26
    select LV_FONT_MONTSERRAT_16
    select LV_USE_LABEL
    select LV_USE_IMG

config SSD1306_REVERSE_MODE
    bool
	default n


# choice ZMK_DISPLAY_WORK_QUEUE
#     default ZMK_DISPLAY_WORK_QUEUE_DEDICATED
endchoice

endif
